test/output.yuv
test/result
video_compensation/build/cmake_install.cmake
video_compensation/build/CMakeCache.txt
video_compensation/build/VideoCompensation
video_compensation/build/CMakeFiles/cmake.check_cache
video_compensation/build/CMakeFiles/CMakeConfigureLog.yaml
video_compensation/build/CMakeFiles/CMakeDirectoryInformation.cmake
video_compensation/build/CMakeFiles/progress.marks
video_compensation/build/CMakeFiles/TargetDirectories.txt
video_compensation/build/CMakeFiles/3.28.3/CMakeCXXCompiler.cmake
video_compensation/build/CMakeFiles/3.28.3/CMakeDetermineCompilerABI_CXX.bin
video_compensation/build/CMakeFiles/3.28.3/CMakeSystem.cmake
video_compensation/build/CMakeFiles/3.28.3/CompilerIdCXX/a.out
video_compensation/build/CMakeFiles/3.28.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
video_compensation/build/CMakeFiles/VideoCompensation.dir/block.cpp.o.d
video_compensation/build/CMakeFiles/VideoCompensation.dir/build.make
video_compensation/build/CMakeFiles/VideoCompensation.dir/cmake_clean.cmake
video_compensation/build/CMakeFiles/VideoCompensation.dir/compiler_depend.internal
video_compensation/build/CMakeFiles/VideoCompensation.dir/compiler_depend.make
video_compensation/build/CMakeFiles/VideoCompensation.dir/compiler_depend.ts
video_compensation/build/CMakeFiles/VideoCompensation.dir/depend.make
video_compensation/build/CMakeFiles/VideoCompensation.dir/DependInfo.cmake
video_compensation/build/CMakeFiles/VideoCompensation.dir/filereader.cpp.o.d
video_compensation/build/CMakeFiles/VideoCompensation.dir/filewriter.cpp.o.d
video_compensation/build/CMakeFiles/VideoCompensation.dir/flags.make
video_compensation/build/CMakeFiles/VideoCompensation.dir/frame.cpp.o.d
video_compensation/build/CMakeFiles/VideoCompensation.dir/frameinfo.cpp.o.d
video_compensation/build/CMakeFiles/VideoCompensation.dir/link.txt
video_compensation/build/CMakeFiles/VideoCompensation.dir/main.cpp.o.d
video_compensation/build/CMakeFiles/VideoCompensation.dir/pixel.cpp.o.d
video_compensation/build/CMakeFiles/VideoCompensation.dir/progress.make
video_compensation/build/CMakeFiles/VideoCompensation.dir/videocompensation.cpp.o.d
test/result.mp4
